button,
a {
    cursor: pointer;
    background-color: var(--none);
}

body {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 375px;
    min-height: 857px;
    height: 100vh;
    padding: 45px 0;
    margin: 0 auto;
    background-color: #FFFCDE;
}

::-webkit-scrollbar {
    display: none;
}

.none {
    display: none !important;
}

input {
    outline: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

//공통 텍스트
.text {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -1.1%;
    line-height: 150%;
}

//공통 버튼
.button_nomal {
    width: 320px;
    height: 50px;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -1.1%;
    line-height: 150%;
    border-radius: 15px;
    background: var(--white);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.45);
    cursor: pointer;
}